openapi: 3.1.0
info:
  title: Honeycomb Auth Query Results API
  description: The Honeycomb API is a REST API that provides programmatic access to the Honeycomb observability platform. It enables developers to manage datasets and columns, configure SLOs and burn alerts, set up triggers and recipients, manage boards and markers, administer environments, API keys, and access auth, query annotations, calculated fields, marker settings, reporting, dataset definitions, and service maps.
  version: '1.0'
  contact:
    name: Honeycomb Support
    url: https://support.honeycomb.io
  termsOfService: https://www.honeycomb.io/terms-of-service
servers:
- url: https://api.honeycomb.io
  description: Honeycomb Production API
security:
- ApiKeyAuth: []
tags:
- name: Query Results
  description: Create and poll for asynchronous query results.
paths:
  /1/query_results/{datasetSlug}:
    post:
      operationId: createQueryResult
      summary: Create a query result
      description: Creates an asynchronous query result by referencing a Query ID. After creation, poll the query result endpoint until the data is complete.
      tags:
      - Query Results
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query_id
              properties:
                query_id:
                  type: string
                  description: The ID of the query specification to execute.
                disable_series:
                  type: boolean
                  description: If true, omits the time series data from the result.
                limit:
                  type: integer
                  description: The maximum number of result rows to return.
      responses:
        '201':
          description: Query result created and processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
        '404':
          description: Dataset or query not found
  /1/query_results/{datasetSlug}/{queryResultId}:
    get:
      operationId: getQueryResult
      summary: Get a query result
      description: Returns the status and data of an asynchronous query result. Poll this endpoint until the complete flag is true to get the final results.
      tags:
      - Query Results
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      - $ref: '#/components/parameters/queryResultId'
      responses:
        '200':
          description: Query result status and data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
        '401':
          description: Unauthorized
        '404':
          description: Query result not found
components:
  parameters:
    datasetSlug:
      name: datasetSlug
      in: path
      required: true
      description: The slug identifier for the dataset.
      schema:
        type: string
    queryResultId:
      name: queryResultId
      in: path
      required: true
      description: The unique identifier for the query result.
      schema:
        type: string
  schemas:
    QueryResult:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the query result.
        query_id:
          type: string
          description: The ID of the query specification that was executed.
        complete:
          type: boolean
          description: Whether the query has finished processing.
        data:
          type: object
          description: The result data, populated when complete is true.
          properties:
            results:
              type: array
              description: The aggregated result rows.
              items:
                type: object
                additionalProperties: true
            series:
              type: array
              description: Time series data points.
              items:
                type: object
                additionalProperties: true
        links:
          type: object
          description: Links related to the query result.
          properties:
            query_url:
              type: string
              format: uri
              description: URL to view the query in the Honeycomb UI.
            graph_image_url:
              type: string
              format: uri
              description: URL to a rendered graph image of the query result.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Honeycomb-Team
      description: Honeycomb Configuration API key. Must have appropriate permissions for the endpoint being called.
externalDocs:
  description: Honeycomb API Documentation
  url: https://api-docs.honeycomb.io/api
