openapi: 3.1.0
info:
  title: Honeycomb Auth Marker Settings API
  description: The Honeycomb API is a REST API that provides programmatic access to the Honeycomb observability platform. It enables developers to manage datasets and columns, configure SLOs and burn alerts, set up triggers and recipients, manage boards and markers, administer environments, API keys, and access auth, query annotations, calculated fields, marker settings, reporting, dataset definitions, and service maps.
  version: '1.0'
  contact:
    name: Honeycomb Support
    url: https://support.honeycomb.io
  termsOfService: https://www.honeycomb.io/terms-of-service
servers:
- url: https://api.honeycomb.io
  description: Honeycomb Production API
security:
- ApiKeyAuth: []
tags:
- name: Marker Settings
  description: Manage marker settings that group similar markers together with consistent visual styling.
paths:
  /1/marker_settings/{datasetSlug}:
    get:
      operationId: listMarkerSettings
      summary: List all marker settings
      description: Returns a list of all marker settings for the specified dataset.
      tags:
      - Marker Settings
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      responses:
        '200':
          description: A list of marker settings
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MarkerSetting'
        '401':
          description: Unauthorized
    post:
      operationId: createMarkerSetting
      summary: Create a marker setting
      description: Creates a new marker setting that groups similar markers together with consistent visual styling.
      tags:
      - Marker Settings
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkerSettingCreateRequest'
      responses:
        '201':
          description: Marker setting created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkerSetting'
        '401':
          description: Unauthorized
  /1/marker_settings/{datasetSlug}/{markerSettingId}:
    put:
      operationId: updateMarkerSetting
      summary: Update a marker setting
      description: Updates a marker setting's properties.
      tags:
      - Marker Settings
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      - $ref: '#/components/parameters/markerSettingId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MarkerSettingUpdateRequest'
      responses:
        '200':
          description: Marker setting updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkerSetting'
        '401':
          description: Unauthorized
        '404':
          description: Marker setting not found
    delete:
      operationId: deleteMarkerSetting
      summary: Delete a marker setting
      description: Deletes a marker setting from the specified dataset.
      tags:
      - Marker Settings
      parameters:
      - $ref: '#/components/parameters/datasetSlug'
      - $ref: '#/components/parameters/markerSettingId'
      responses:
        '204':
          description: Marker setting deleted
        '401':
          description: Unauthorized
        '404':
          description: Marker setting not found
components:
  parameters:
    datasetSlug:
      name: datasetSlug
      in: path
      required: true
      description: The slug identifier for the dataset. Dataset names are case insensitive.
      schema:
        type: string
    markerSettingId:
      name: markerSettingId
      in: path
      required: true
      description: The unique identifier for the marker setting.
      schema:
        type: string
  schemas:
    MarkerSetting:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the marker setting.
        type:
          type: string
          description: The marker type this setting applies to.
        color:
          type: string
          description: The color used to display markers of this type.
        created_at:
          type: string
          format: date-time
          description: ISO8601 formatted time the marker setting was created.
        updated_at:
          type: string
          format: date-time
          description: ISO8601 formatted time the marker setting was last updated.
    MarkerSettingCreateRequest:
      type: object
      required:
      - type
      properties:
        type:
          type: string
          description: The marker type this setting applies to.
        color:
          type: string
          description: The color used to display markers of this type.
    MarkerSettingUpdateRequest:
      type: object
      properties:
        type:
          type: string
          description: An updated marker type.
        color:
          type: string
          description: An updated color for the marker setting.
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Honeycomb-Team
      description: Honeycomb Configuration API key. Must have appropriate permissions for the endpoint being called.
externalDocs:
  description: Honeycomb API Documentation
  url: https://api-docs.honeycomb.io/api
